.logo-container img {
  animation: rotate 12s linear infinite;
}

p {
  margin: 0 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card */
.player-card {
  background-color: rgb(243, 243, 239);
  border: 1px solid black;
  /* border-radius: 15px; */
  color: white;

  background-image: url("/content/img/heroes_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.player-container {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
}

.player-container > .player-content {
  flex-grow: 1;
  padding: 1.6rem 2em;
  position: relative;
}

.player-container > .player-content:first-child {
  background-image: url("/content/img/card-artanis.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 480px;
}

.player-container > .player-content:nth-child(2) {
  min-width: 300px;
  max-width: 400px;
}

.player-container > .player-content:nth-child(3) {
  max-width: 480px;
}

.player-content > .player-stats {
}

.history-container {
  height: 90vh;
  overflow: auto;
}

.history-container > .history-content {
  background-color: rgba(8, 8, 8, 0.475);
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.8rem;
}

.history-content > .map-name,
.map-data {
  position: relative;
}

.map-status {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: red;
  z-index: 999;
  top: 0;
  left: 0;
}

.history-content > .map-name {
  background-image: url("https://www.heroesprofile.com/images/maps/icon/bg_braxis_holdout.jpg");
  background-repeat: no-repeat;
  background-position: left;
  max-width: 162px;
}

.history-content > .map-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(192, 172, 244);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.717) 20%,
    rgba(254, 254, 254, 0) 78%
  );
}

.map-data {
  padding: 1rem;
}

.history-content > .map-data {
  width: calc(100% - 162px);
}

.data-talent > .talent {
  display: flex;
  overflow: auto;
}

.indicator-body {
  display: flex;
  align-items: center;
}

.indicator-body > .indicator-title {
  width: 100px;
}

.indicator-data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-grow: 2;
}

.indicator-data .badge {
  top: 32px !important;
}

.indicator-header,
.team-header {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5em;
}

.team-data {
  display: flex;
  flex-flow: column wrap;
  gap: 8.8px;
  justify-content: center;
  flex-grow: 2;
}

.indicator-content {
  margin: 1.2rem 0;
}

.player-card h2,
.player-card h3,
.player-card h4,
.player-card span,
.player-card p {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #8a2be2, -2px -2px 5px #0000ff;
}

.history-container::-webkit-scrollbar,
.talent::-webkit-scrollbar {
  height: 10px;
}

.talent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 139, 0.5);
  border-radius: 5px;
}

.talent::-webkit-scrollbar-track {
  background: transparent;
}

.talent {
  scrollbar-color: rgba(223, 223, 223, 0.5) transparent;
  scrollbar-width: thin;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .player-container > .player-content:first-child {
    width: 100%;
    height: 700px;
    max-width: none;
    padding-bottom: 0;
  }

  .player-container > .player-content:nth-child(2) {
    width: 100%;
    min-width: unset;
    max-width: none;
    padding-top: 0;
  }

  .player-container > .player-content:nth-child(3) {
    width: 100%;
    max-width: none;
  }
}
